/*Colour Palette:
Red-Orange: #D14719
Orange-Yellow: #DF7E5E
Dark red-orange: #923212
*/
html {
	font: normal 100%/1.5 'Merriweather', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h1, h2 {
	text-align: center;

}
h1 {
	text-align: center;
	color: white;
	/*boxes*/
	font-size: 3.5rem;
	background-color: #D14719;
	margin: 0;
	padding: 0;
	padding-top: 1rem;
}
.h2cerealkilla {
	text-align: center;
	color: white;
	/*boxes*/
	font-size: 3.5rem;
	background-color: #DF7E5E;
	margin: 0;
	padding: 0;

}
header {
	padding: 0 0 0.5 em;
	background-color: #D14719;
	text-align: center;
}
/*Navigations*/
nav a: { /*texts in nav a*/
	display: inline-block;
	padding: 0.2em 0.5em 0.3em;
	background-color: #923212;
	text-decoration: none;
	border-radius: 2px;
}

}
*, *::before, *::after {
	box-sizing: inherit;

}
nav{
	padding: 0.5rem 1rem 1rem 1rem;
/*	display: block;
	text-align: center;
	background-color: #D14719;*/
	font-size: 1.5rem;
}

nav ol{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li{
/*	display: inline;
	background-color: #D14719;
	color: white;*/
	padding: 0.5rem 0.75rem;
	width: 6em;
	font-size: 1.1rem;
	display: inline-block;
 	margin-bottom: 0.3em;
}

nav a:hover{
	background-color: #923212;
}
/*images*/
.grains { /*changing img size*/
	float: left;
	width: 70%;
	margin-right: 15px;
}
.peanuts {
	float: left;
	width: 85%;
	margin-right: 15px; 
}

.beans {
	float: left;
	width: 85%;
	margin-right: 15px;
}
.lentils {
	float: left;
	width: 85%;
	margin-right: 15px;

}/*footer*/
footer {
  background-color: #D14719;
  padding: 10px;
}