/*Colour Palette:
Red-Orange: #D14719
Orange-Yellow: #DF7E5E
Dark red-orange: #923212
Grey: #C8C8C8
*/
html {
	font: normal 100%/1.5 'Merriweather', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;

}
h1, h2 {
	text-align: center;

}
.legumes{
	font-size: 2rem;
	font-weight: bold;

}
h1 {
	text-align: center;
	color: white;
	/*boxes*/
	font-size: 2rem;
	background-color: #D14719;
	margin: 0;
	padding: 1rem;
}

.h2cerealkilla {
	text-align: center;
	color: white;
	/*boxes*/
	font-size: 2rem;
	/*magnifying troubls*/
	background-color: #DF7E5E;
	margin: 0;
	padding: 1.5rem;
}
h3 {
	background-color: #DF7E5E;
	margin: 0;
	margin-top: 0;
	padding: 0;
	text-align: center;
	color: white;
}
header {
	display: block;
	font-weight: 400;
	color:white;
	margin:0;
/*
	padding: 0 0 0.5 em;
	background-color: #D14719;
	text-align: center;*/
}
*, *::before, *::after {
	box-sizing: inherit;

}/*Navigations*/

nav a{
	width: 33.33%;
	display:block;
	float: left;
	padding: 0.6em 0.75em;
	background-color: #D14719;
	text-decoration: none;
	color:white;
	margin-bottom: 0.7rem;
	border: 0.1rem solid #923212;
}

nav{
    text-align:center;
    margin:0;
    padding:0;
}

nav ol{
	list-style-type:none;
	padding: 0;
	margin: 0;
}

nav li{
	padding: 0;
	margin: 0;
}

nav a:hover{
	background-color: #923212;

}/*images*/
.inset {
	border: 2px solid #C8C8C8;
}
.corn{
	float: center;
	width: 100%;
}
.grains { /*changing img size*/
	float: left;
	width: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.cereals {
	float: right;
	clear: right;
	width: 40%;
	margin-right: 15px;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;

}
.quinoa {
	float: right;
	clear: right;
	width: 40%;
	margin-right: 15px;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.peanuts {
	float: left;
	width: 20%;
	margin-right: 15px;
}

.beans {
	float: left;
	width: 20%;
	margin-right: 15px;
}
.lentils {
	float: left;
	width: 20%;
	margin-right: 15px;
}
.oats{
	float: left;
	width: 20%;
}
.rice{
	float: left;
	width: 20%;

}/*Dat Grain thingy*/
.vector-l{
	width: 3rem;
	float: left;
	margin: 1rem;

}
.vector-r{
	width: 3rem;
	float:right;
	margin: 1rem;	

}/*text wraps*/
.p1{
	clear: right;
	margin: 1rem;

}
.p2{
	clear: left;
	margin: 1rem;
}
.dl {
	float: left;
}

}/*footer*/
footer {
	background-color: #D14719;
	padding: 10px;
	margin: 0;
	clear: both;
	color: #DF7E5E;
	text-align: center;
}